


img.headshot {
  border: 3px solid #FCC201;
  border-radius: 25px;
  display: block;
  margin: auto;
  width: 50%;
}

h1, h2, h5, .exception {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: "Baskerville", "Georgia", serif;
  font-weight: 400;
  font-style: italic;
}