@font-face {
    font-family: "Italianno";
    src: url('/fonts/italianno.woff');
}

img {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 25%;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
    font-family: Italliano;
}