
img {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 25px;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: "Baskerville", "Georgia", serif;
  font-weight: 400;
  font-style: italic;
}